@font-face {
    font-family: Avantstile;
    src: url(AvantstileRegular-ELlg.ttf);
}

@font-face {
    font-family: 'Anime Ace';
    src: url(AnimeAce20Bb-K97.ttf);
}

@font-face {
    font-family: 'Comic Neue';
    src: url(ComicNeue-Regular.ttf);
}